# Default ignored files
/../../../연습/untitled2/.idea/shelf/
/../../../연습/untitled2/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../연습/untitled2/.idea/httpRequests/
# Datasource local storage ignored files
/../../../연습/untitled2/.idea/dataSources/
/../../../연습/untitled2/.idea/dataSources.local.xml
